In [1]:
import numpy as np

In [6]:
d = [1,2,4,5,34,1,32,4,34,2,1,3]

In [7]:
d = np.array(d)

In [10]:
np.median(d)

3.5

In [11]:
d = [34,1,23,4,3,3,12,4,3,1]

In [12]:
np.std(d)

10.562196741208714

In [17]:
from scipy.stats import kurtosis
from scipy.stats import skew

In [14]:
d = [34,1,23,4,3,3,12,4,3,1]

In [15]:
kurtosis(d)

0.663124005193275

In [18]:
skew([34,1,23,4,3,3,12,4,3,1])

1.4549069329913997

In [30]:
a = [1,2,3,4,5,6,7]
b = [7,6,5,4,5,6,7]
import pandas as pd
df = pd.DataFrame()
df['a'] = a
df['b'] = b
df.corr()

     a    b
a  1.0  0.0
b  0.0  1.0

In [29]:
df.cov()

          a         b
a  9.166667  4.055556
b  4.055556  3.566667